@CHARSET "UTF-8";
/*
 * Title:   Fargo
 * Author:  Qzofp Productions
 * Version: 0.1
 *
 * File:    confluence.css
 *
 * Created on Mar 30, 2013
 * Updated on Jul 07, 2013
 *
 * Description: The confluence css page. This css is based on the XMBC Confluence theme.
 *
 * Credits: XBMC team.
 *
 */

/*
 *   Common CSS
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px

/* Custom Font Types */
@font-face{
Font-family:Bebas;
src:url('Bebas.ttf');
}

@font-face{
Font-family:Economica;
src:url('Economica.ttf');
}

/* Body and main parts of the page. */
html, body{
height:100%;
margin:0;
}

body{
font-family:Arial, Helvetica, Sans-Serif;
font-size:62.5%; /* =10px */
background:url(confluence.jpg);
/*background-position:center center;*/
}

input{
font-family:Arial, Helvetica, Sans-Serif;
}

/* Remove input and select borders Chrome */
*:focus {
    outline: 0;
}

#main{
width:100%;
height:100%;
}

#header{
width:100%;
min-height:5%;
}

#header_login{
margin:0 5px 5px 0;
font-size:1.1em;
text-shadow:2px 2px 2px #000;
text-align:right;
color:#FFF;
}

#header_info{
font-size:2em;
text-shadow:2px 2px 2px #000;
text-align:center;
color:lightgray;
}

/* Begin Popup part*/
#mask{
position:fixed;
top:0px;
left:0px;
display:none;
height:100%;
width:100%;
background-color:rgba(0,0,0,0.7);
z-index:1;
}

.popup{
border:2px solid grey;
border-radius:5px;
display:none;
font-size:1.4em;
left:50%;
padding:12px;
position:fixed;
top:15%;
background-color:rgba(0,0,0,0.7);
z-index:2;
}

#login_box{
width:400px;
margin-left:-202px;
text-align:center;
}

.popup fieldset{
border:none;
}

.popup .textbox label{
display:block;
padding-bottom:7px;
}

.popup .textbox span{
display:block;
}

.popup span{
color:#999;
font-size:0.8em;
line-height:18px;
}

.popup .textbox input{
text-align:center;
background:#454647;
border-bottom:1px solid #333;
border-left:1px solid #000;
border-right:1px solid #333;
border-top:1px solid #000;
color:#fff;
border-radius:3px 3px 3px 3px;
font-size:1.2em;
padding:6px 6px 4px;
width:200px;
}

.popup form{
border:none;
border-radius:4px;
margin:0 auto;
background-color:#1E1D1D;
}

.popup .title{
position:relative;
top:-12px;
margin:0px 48px 0px 48px;
font-size:1.5em;
font-weight:bold;
text-shadow:2px 2px 2px #000;
text-align:center;
color:orange;    
}

.popup .close_left{
float:left;
width:48px;
}

.popup .close_right{
float:right;
width:48px;
height:22px;
border-radius:4px;
color:#FFF;
font-size:1em;
text-align:center;
padding-top:2px;
cursor:pointer;
background: -moz-linear-gradient(center top, #C1BDBD, #494949);
background: -webkit-gradient(linear, left top, left bottom, from(#C1BDBD), to(#494949));
background: -o-linear-gradient(top, #C1BDBD, #494949);
background: -ms-linear-gradient(top, #C1BDBD 0%, #494949 100%);
}

.popup .close_right:hover,
.popup button:hover{
background: -moz-linear-gradient(center top, #289EC9, #076182);
background: -webkit-gradient(linear, left top, left bottom, from(#289EC9), to(#076182));
background: -o-linear-gradient(top, #289EC9, #076182);
background: -ms-linear-gradient(top, #289EC9 0%, #076182 100%);
}

.popup .message{
color:#999;
text-align:center; /* Test */
}

.popup .button{
text-align:center;
}

.popup button{
background-color:#1E1D1D;
border:1px solid #454647;
border-radius:4px;
color:#FFF;
cursor:pointer;
display:inline-block;
padding:6px 6px 4px;
margin:10px 0px 10px 0px;
font-size:1.2em;
width:214px;    
}
/* End Popup part */

/* Begin Buttons Popup part */
#buttons_box{
width:250px;
max-height:500px;
margin-left:-127px;
}

#buttons_box .button{
margin-top:10px;
}

#buttons_box button{
margin:2px 0px 2px 0px;
}

#buttons_box button:last-child{
margin-bottom:10px;  
} 
/* End Buttons Popup part */

/* Begin Info Popup part */
#info_box{
top:6%;
width:64%;
/*height:60%;*/
margin-left:-33%;
}

#info_main{
margin-top:10px; 
}

#info_wrapper_left{
float:left;
width:100%; 
}

#info_left{ 
margin: 0 510px 0 10px;
/*background:whitesmoke;*/
}

#info_left table{
/*width:100%;*/
border-collapse:separate;
border-spacing:10px 5px;
font-size:1.3em;
/*font-weight:bold;*/
color:#FFF;
}

#info_left td.left{
width:30px;
text-align:right;
vertical-align:top;
color:dodgerblue;
}

#info_right{
float:left;
width:510px;
margin-left:-510px;
}

#info_right img{
width:500px;
height:300px;    
border:1px solid grey;
border-radius:7px;
}

#info_plot{
clear:left;
margin:0 10px 5px 10px;
padding-top:10px;
border-bottom:1px solid grey;
font-size:1.3em;
color:dodgerblue;
/*background:lightyellow;*/
}

#info_plot_text{
height:120px;
margin:0 10px 0 10px;
font-size:1.2em;
color:#FFF;
}    

/* End Info Popup part */

/* Begin Import Popup part */
#import_box{
width:500px;
margin-left:-252px;
color:#FFF;
}

#import_wrapper{
height:154px;
}

#thumb{
width:100px;
height:140px;
left:50%;
margin:10px 0 0 -40px;
position:fixed;
border:1px solid grey;
border-radius:5px;
background:#454647;   
}

#thumb img{
border-radius:5px;
}

#media_title{
font-weight:bold;
font-size:0.9em;
text-shadow:2px 2px 2px #000;
text-align:center;
}

.progress{
height:10px;
margin:4px 20px 4px 20px;
border:1px solid grey;
border-radius:5px;
background:#454647;
}
/* End Import Popup part */

/* Begin Clean Popup part */
#clean_box{
width:550px;
margin-left:-302px;
margin-top:100px;
}

#clean_box .message{
margin-bottom:30px;
font-weight:bold;
font-size:1.2em;
color:#FFF;
}
/* End Clean Popup part */

/* Begin Display part */
#display_left{
float:left;
display:table;
width:120px;
height:70%;
}

#sort{
visibility:hidden;
position:absolute;
display:table-cell;
top:20px;
left:100px;
height:70px;
width:70px;   
border:1px solid grey;
border-radius:5px;
text-align:center;
line-height:1.45em;
font-family:Arial, sans-serif;
font-size:5em;
color:lightgray;
background-color:rgba(0,0,0,0.5);
}

#prev{
visibility:hidden;
display:table-cell; 
padding:0 10px 0 0;
vertical-align:middle;
text-align:right;
font-family:Economica, sans-serif;
font-size:6em;
color:gray;
}

#prev:hover{
background-color:rgba(0,0,0,0.2);
cursor:pointer;
color:dodgerblue;
}

#display_right{
float:right;
display:table;
width:120px;
height:70%;
/*background-color:#ECECEC;*/
}

#next{
visibility:hidden;
display:table-cell; 
padding:0 0 0 10px;
vertical-align:middle;
font-family:Economica, sans-serif;
font-size:6em;
color:gray;
}

#next:hover{
background-color:rgba(0,0,0,0.2);
cursor:pointer;
color:dodgerblue;
}

#display_content{
margin:0 120px 0 120px;
min-height:70%;
/*background-color:#999;*/
}

/* Display Media pages */
#display_content table{
margin-left:auto; 
margin-right:auto;   
border-spacing:15px;
font-weight:bold;
font-size:1.2em;
text-shadow:2px 2px 2px #000;
text-align:center;
color:#FFF;
}

#display_content td{
width:150px;
height:175px;
border:1px solid grey;
border-radius:5px;
background-color:rgba(0,0,0,0.5);
}

#display_content td:hover{
border:1px solid dodgerblue;
color:dodgerblue;
cursor:pointer;
}

#display_content td:hover img{
border:2px solid dodgerblue;
}

#display_content img{
border:1px solid grey;
border-radius:5px;
}

#display_content .info{
display:none;    
}

/* Display System page */
#display_system{
display:none;
margin-left:-30%;
left:50%;
position:fixed;
width:60%;
height:100%;
}

#display_system_main{
float:left;
width:100%;
height:65%;
border:1px solid grey;
border-radius:10px;
background-color:lightblue;
background-color:rgba(0,0,0,0.5);
}    

#display_system_left,
#display_system_right{
float:left;
}

#display_system_left{
width:35%;
height:100%;
border-radius:10px 0 0 10px;
background-color:rgba(0,0,0,0.3);
}

#fargo {
margin:15px 0 15px 0;
font-family: 'Dancing Script', cursive;
font-size:38px;
color:#999;
text-align:center;
text-shadow:4px 4px 4px #aaa;
}

#display_system_left .option{
height:50px;
padding-right:15px;
font-size:1.8em;
line-height:2.7em;
text-align:right;
color:#999;
cursor:pointer;
}

#display_system_left .on{
color:#FFF;
background: -moz-linear-gradient(center top, #289EC9, #076182);
background: -webkit-gradient(linear, left top, left bottom, from(#289EC9), to(#076182));
background: -o-linear-gradient(top, #289EC9, #076182);
background: -ms-linear-gradient(top, #289EC9 0%, #076182 100%);
}

#display_system_left .dim{
color:#C0C0C0;
background: -moz-linear-gradient(center top, #207899, #0B4F68);
background: -webkit-gradient(linear, left top, left bottom, from(#207899), to(#0B4F68));
background: -o-linear-gradient(top, #207899, #0B4F68);
background: -ms-linear-gradient(top, #207899 0%, #0B4F68 100%);
}

#display_system_right{
width:65%;
height:100%;
border-radius:0 10px 10px 0;
font-size:1.8em;
color:#999;
}

#display_system_right .right{
text-align:right;
}

#display_system_right h1{
margin:15px 0 15px 0;
font-size:1.5em;
color:lightgray;
}

#display_system_right i{
color:lightgray;
}

#display_system_right a{
color:lightgray;
}

#display_system_right .system_scroll{
position:absolute;
padding:0 15px 0 0;
}

#display_system_right .system_scroll b{
font-weight:normal;
color:#C0C0C0;
}    

#display_system_right table{
width:100%;
border-spacing:0;
padding:15px 15px 0 15px;
}

#display_system_right .text{
margin:0 0 0 15px;
}

#display_system_right th{
height:37px;
text-align:left;
text-shadow:2px 2px 2px #000;
color:lightgray;
border-bottom:1px solid rgba(153,153,153,0.2);
}

#display_system_right th.set{
color:dodgerblue; 
}

#display_system_right td{
height:32px;
padding-left:10px;
border-bottom:1px solid rgba(153,153,153,0.2);
cursor:pointer;
}

#display_system_right tr.on{
color:#fff;
background-color:rgba(0,0,0,0.2);
}

#display_system_right tr.on input{
color:#fff;
}

#display_system_right td.on, 
#display_system_right th.on{
border-bottom-color:rgba(30,144,255,0.5);
}

#display_system_right .log{
font-size:0.8em;
}

#display_system_right input{
padding-right:5px;
text-align:right;
border:none;
background:none;
font-size:1.0em;
color:#999;
}
/* End Display part */

/* Begin Control Bar part */
#control{
position:absolute;
bottom:0;
width:100%;
height:25%;
/*background:#666;*/
}

#control_bar{
height:68px;
padding-top:2px;
border:solid grey;
border-left-style:none;
border-right-style:none;
text-align:center;
background-color:rgba(0,0,0,0.8);
}

#control_bar ul, #control_sub ul{ 
display:inline;
list-style-type:none;
margin:0;
padding:0;

}

#control_bar li{
display:inline;
padding:0 25px 0 25px;
font-family:Bebas, sans-serif;
font-size:4.5em;
color:grey;
cursor:pointer;
}

#control_bar .on{
color:dodgerblue;
}

#control_sub{
display:none;
width:600px;
height:30px;
left:50%;
margin-left:-300px;
position:fixed;
padding-top:5px;
border:1px solid #454647;
border-top-style:none;
border-bottom-left-radius:70px;
border-bottom-right-radius:70px;
text-align:center;
background-color:rgba(0,0,0,0.8);
-webkit-backface-visibility:hidden; /* Fix slideup artifacs in Chrome*/
}

#control_sub li{
display:inline;
padding: 5px 15px 5px 15px;
/*font-family:Bebas, sans-serif;*/
font-size:1.8em;
color:lightgray;
cursor:pointer;
}

#control_sub li:hover{
color:dodgerblue;
}
/* End Control Bar part */

/* Page states */
#state_media,
#state_page,
#state_choice,
#state_title,
#state_genre,
#state_year,
#state_xbmc,
#state_row,
#state_property{
display:none;

/* debug */
position:absolute;
font-size:2em;
color:#fff;
}

/* begin debug */
#state_media{top:10px;}
#state_page{top:32px;}
#state_choice{top:54px;}
#state_title{top:76px;}
#state_genre{top:98px;}
#state_year{top:120px;}
#state_xbmc{top:144px;}
#state_row{top:166px;}
#state_property{top:188px;}
/* end debug */

#footer{
position:absolute;
bottom:0;
width:100%;
min-height:15px;
/*background:#000;*/
}

#footer a,
#footer a:active{
color:#FFF;
text-decoration:none;
}

#footer a:hover{
text-decoration:underline;
}

#footer_txt{
font-size:1.1em;
text-shadow:2px 2px 2px #000;
text-align:center;
color:#FFF;
}

