@CHARSET "UTF-8";
/*
 * Title:   Fargo
 * Author:  Qzofp Productions
 * Version: 0.1
 *
 * File:    confluence.css
 *
 * Created on Mar 30, 2013
 * Updated on May 19, 2013
 *
 * Description: The confluence css page. This css is based on the XMBC Confluence theme.
 *
 * Credits: XBMC team.
 *
 */

/*
 *   Common CSS
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px

/* Custom Font Types */
@font-face{
Font-family:Bebas;
src:url('Bebas.ttf');
}

@font-face{
Font-family:Economica;
src:url('Economica.ttf');
}

/* Body and main parts of the page. */
html, body{
height:100%;
margin:0;
}

body{
font-family:Arial, Helvetica, Sans-Serif;
font-size:62.5%; /* =10px */
background:url(confluence.jpg);
/*background-position:center center;*/
}

#main{
width:100%;
height:100%;
}

#header{
width:100%;
min-height:5%;
}

#header_txt{
margin:0 5px 0 0;
font-size:1.1em;
text-shadow:2px 2px 2px #000;
text-align:right;
color:#FFF;
}

/* Begin Popup part*/
#mask{
position:fixed;
top:0px;
left:0px;
display:none;
height:100%;
width:100%;
opacity:0.7;
background:#000;
z-index:1;
}

#popup{
border:2px solid grey;
border-radius:5px;
display:none;
font-size:1.4em;
left:50%;
padding:12px;
position:fixed;
top:15%;
background-color:rgba(0,0,0,0.7);
z-index:2;
}

#popup.login_size{
width:400px;
margin-left:-202px;
text-align:center;
}

#popup fieldset{
border:none;
}

#popup .textbox label{
display:block;
padding-bottom:7px;
}

#popup .textbox span{
display:block;
}

#popup span{
color:#999;
font-size:0.8em;
line-height:18px;
}

#popup .textbox input{
text-align:center;
background:#454647;
border-bottom:1px solid #333;
border-left:1px solid #000;
border-right:1px solid #333;
border-top:1px solid #000;
color:#fff;
border-radius:3px 3px 3px 3px;
font-size:1.2em;
padding:6px 6px 4px;
width:200px;
}

#popup form{
border:none;
border-radius:4px;
margin:0 auto;
background-color:#1E1D1D;
}

#popup .title{
position:relative;
top:-12px;
margin:0px 48px 0px 48px;
font-size:1.5em;
font-weight:bold;
text-shadow:2px 2px 2px #000;
text-align:center;
color:orange;    
}

#popup .close_left{
float:left;
width:48px;
}

#popup .close_right{
float:right;
width:48px;
height:22px;
border-radius:4px;
color:#FFF;
font-size:1em;
text-align:center;
padding-top:2px;
cursor:pointer;
background: -moz-linear-gradient(center top, #C1BDBD, #494949);
background: -webkit-gradient(linear, left top, left bottom, from(#C1BDBD), to(#494949));
background: -o-linear-gradient(top, #C1BDBD, #494949);
background: -ms-linear-gradient(top, #C1BDBD 0%, #494949 100%);
}

#popup .close_right:hover,
#popup button:hover{
background: -moz-linear-gradient(center top, #289EC9, #076182);
background: -webkit-gradient(linear, left top, left bottom, from(#289EC9), to(#076182));
background: -o-linear-gradient(top, #289EC9, #076182);
background: -ms-linear-gradient(top, #289EC9 0%, #076182 100%);
}

#popup .message{
color:#999;
text-align:center; /* Test */
}

#popup .button{
text-align:center;
}

#popup button{
background-color:#1E1D1D;
border:1px solid #454647;
border-radius:4px;
color:#FFF;
cursor:pointer;
display:inline-block;
padding:6px 6px 4px;
margin:10px 0px 10px 0px;
font-size:1.2em;
width:214px;    
}
/* End Popup part */

/* Begin Import Popup part */
#popup.import{
width:500px;
margin-left:-252px;
color:#FFF;
}

#import_wrapper{
height:154px;
}

#thumb{
width:100px;
height:140px;
left:50%;
margin:10px 0 0 -40px;
position:fixed;
border:1px solid grey;
border-radius:5px;
background:#454647;   
}


#thumb img{
/*border:1px solid grey;*/
border-radius:5px;
/*margin-top:10px;*/
}


#title{
font-weight:bold;
font-size:0.9em;
text-shadow:2px 2px 2px #000;
text-align:center;
}

#progress{
height:15px;
margin:4px 20px 4px 20px;
border:1px solid grey;
border-radius:5px;
background:#454647;
}

/* End Import Popup part */

/* Begin Display part */
#display_left{
float:left;
display:table;
width:120px;
height:70%;
/*min-height:70%;*/
/*background-color: #ECECEC;*/
}

#sort{
visibility:hidden;
position:absolute;
display:table-cell;
top:20px;
left:100px;
height:70px;
width:70px;   
border:1px solid grey;
border-radius:5px;
text-align:center;
line-height:1.45em;
font-family:Arial, sans-serif;
font-size:5em;
/*color:dodgerblue;*/
color:lightgray;
background-color:rgba(0,0,0,0.5);
}

#prev{
visibility:hidden;
display:table-cell; 
padding:0 10px 0 0;
vertical-align:middle;
text-align:right;
font-family:Economica, sans-serif;
font-size:6em;
color:gray;
}

#prev:hover{
background-color:rgba(0,0,0,0.2);
cursor:pointer;
color:dodgerblue;
}

#display_right{
float:right;
display:table;
width:120px;
height:70%;
/*background-color:#ECECEC;*/
}

#next{
visibility:hidden;
display:table-cell; 
padding:0 0 0 10px;
vertical-align:middle;
font-family:Economica, sans-serif;
font-size:6em;
color:gray;
}

#next:hover{
background-color:rgba(0,0,0,0.2);
cursor:pointer;
color:dodgerblue;
}

#display_content{
margin:0 120px 0 120px;
min-height:70%;
/*background-color:#999;*/
}

/* Display Media pages */
#display_content table{
margin-left:auto; 
margin-right:auto;   
border-spacing:15px;
font-weight:bold;
font-size:1.2em;
text-shadow:2px 2px 2px #000;
text-align:center;
color:#FFF;
}

#display_content td{
width:150px;
height:175px;
border:1px solid grey;
border-radius:5px;
background-color:rgba(0,0,0,0.5);
}

#display_content img{
border:1px solid grey;
border-radius:5px;
}

/* Display System page */
#display_system{
display:none;
margin-left:-30%;
left:50%;
position:fixed;
width:60%;
height:100%;
}

#display_system_left,
#display_system_right{ 
float:left;
display:table;
height:65%;
}

#display_system_left{
width:34%;
border-top:1px solid grey;
border-left:1px solid grey;
border-bottom:1px solid grey;
border-radius:10px 0 0 10px;
background-color:rgba(0,0,0,0.8);
/*background-color:lightblue;*/
}

#fargo {
margin:15px 0 15px 0;
font-family: 'Dancing Script', cursive;
font-size:38px;
color:#999;
text-align:center;
text-shadow:4px 4px 4px #aaa;
}

#display_system_left .option{
height:50px;
padding-right:15px;
font-size:1.8em;
line-height:2.7em;
text-align:right;
color:#999;
cursor:pointer;
/*background:lightcyan;*/
}

#display_system_left .on{
color:#FFF;
background: -moz-linear-gradient(center top, #289EC9, #076182);
background: -webkit-gradient(linear, left top, left bottom, from(#289EC9), to(#076182));
background: -o-linear-gradient(top, #289EC9, #076182);
background: -ms-linear-gradient(top, #289EC9 0%, #076182 100%);

/*
background-image: -moz-radial-gradient(center, ellipse farthest-side, rgba(0,0,0,0.8) 0%, rgba(41,54,242,0.8) 280%);
background-image: -webkit-radial-gradient(center, ellipse farthest-side, rgba(0,0,0,0.8) 0%, rgba(41,54,242,0.8) 280%);
background-image: -ms-radial-gradient(center, ellipse farthest-side, rgba(0,0,0,0.8) 0%, rgba(41,54,242,0.8) 280%);
*/
}

#display_system_right{
width:64%;
border-top:1px solid grey;
border-right:1px solid grey;
border-bottom:1px solid grey;
border-radius:0 10px 10px 0;
background-color:rgba(0,0,0,0.5);
/*background-color:#ECECEC;  */
}

/* End Display part */

/* Begin Control Bar part */
#control{
position:absolute;
bottom:0;
width:100%;
height:25%;
/*background:#666;*/
}

#control_bar{
height:68px;
padding-top:2px;
border:solid grey;
border-left-style:none;
border-right-style:none;
text-align:center;
background-color:rgba(0,0,0,0.8);
}

#control_bar ul, #control_sub ul{ 
display:inline;
list-style-type:none;
margin:0;
padding:0;

}

#control_bar li{
display:inline;
padding-right:30px;
font-family:Bebas, sans-serif;
font-size:4.5em;
color:grey;
cursor:pointer;
}

#control_bar .on{
color:dodgerblue;
}

#control_sub{
display:none;
width:500px;
height:30px;
left:50%;
margin-left:-250px;
position:fixed;
padding-top:5px;
border:1px solid #454647;
border-top-style:none;
border-bottom-left-radius:70px;
border-bottom-right-radius:70px;
text-align:center;
background-color:rgba(0,0,0,0.8);
-webkit-backface-visibility:hidden; /* Fix slideup artifacs in Chrome*/
}

#control_sub li{
display:inline;
padding: 5px 15px 5px 15px;
/*font-family:Bebas, sans-serif;*/
font-size:1.8em;
color:lightgray;
cursor:pointer;
}

#control_sub li:hover{
color:dodgerblue;
}

#control_sub #import,
#control_sub #genres{
display:none;
}
/* End Control Bar part */

/* Page states */
#state_media{
display:none;
/*font-size:2em;
color:#fff;*/
}

#footer{
position:absolute;
bottom:0;
width:100%;
min-height:15px;
/*background:#000;*/
}

#footer a,
#footer a:active{
color:#FFF;
text-decoration:none;
}

#footer a:hover{
text-decoration:underline;
}

#footer_txt{
font-size:1.1em;
text-shadow:2px 2px 2px #000;
text-align:center;
color:#FFF;
}

